#settings {
	background-color: #1c469d;
	ul.menu li a {
		color: #fff;
	}
	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

// nav
#nav a:hover, #nav a:focus {
	color: #1c469d !important;
}

// logo
.logo {
	max-width: 300px;
	position: relative;
	left: -2rem;
	top: -1rem;
	z-index: -1;
	@include breakpoint(small down) {
		left: auto;
		top: auto;
		position: initial;
		margin: 2rem auto;
	}
}
.logo-wrap {
	@include breakpoint(small down) {
		text-align: center;
	}
}